# venvs
venv
myvenv
lambda_venv
lambdavenv
handler_venv

layer_directory

# used for zappa (zappa is not being used. It SUCKS. spent 18 hours trying to make it work)
credentials

.env
flask_server/secret.py
flask_server/serviceAccount.json
flask_server/flask_session
flask_server/token.pickle
flask_server/flow.pickle
flask_server/credentials.json

flask_session

__pycache__

ngrok.exe
ngrok.yml

__pycache__/blogScraper.cpython-311.pyc
__pycache__/findEmail.cpython-311.pyc
__pycache__/gptFindInfo.cpython-311.pyc
__pycache__/secret.cpython-311.pyc
__pycache__/string_parser.cpython-311.pyc
emailWriter.cpython-311.pyc
.google-cookie

.next
next-env.d.ts

node_modules

package-lock.json

.vscode