.formGroupDistinct {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
  }

.text_input {
  height: 150px;
}
  
.submitButton {
    width: 300px;
    margin: 10px 0;
}